<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  {% if request.user.is_authenticated %}
  <div>
    <a href="{% url 'home' %}">Home</a>
  </div>
  {% else %}
  <div>
    <a href="{% url 'register' %}">Register  </a>
  </div>
  {% endif %}
 

  {% block content_wrapper %}
    <div class="container">
      {% comment %} <h1>Welcome</h1> {% endcomment %}
      {% block content %}{% endblock %}
    </div>
  {% endblock %}
</body>
</html>
